body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameContainer{
    width: 650px;
    height: 700px;
    background-color: rgb(115, 120, 182);
    display: flex;
    justify-content: center;
    align-items: end;
}

.game{
    width: 300px;
    height: 600px;
    background-color: rgb(238, 228, 245);
    display: grid;
    grid-template: repeat(20, 1fr) / repeat(10, 1fr);
    position: relative;
    bottom: .5px;
}

.tile{
    width: 30px;
    height: 30px;
    background-color: rgb(22, 22, 22);
    outline: 1px solid black; 
    box-sizing: border-box;
}

.rowClear{
    animation-name: clear;
    animation-duration: .2s;
    animation-iteration-count: 1;
}

@keyframes clear {
    0%{
        background-color: white;
    }
    33%{
        background-color: red;
    }
    66%{
        background-color: white;
    }
    100%{
        background-color: rgb(22, 22, 22);
    }
}
